<ion-view view-title="Feed">
    <ion-content>
        <ul>
            <span ng-repeat="items in allRequests">   
                    <div class="list card" ng-repeat="(id, item) in items">
  <div class="item item-avatar">
    <img ng-src="{{item.profileImage}}">
    <h2>{{item.userName}}</h2>
    <p class="timeStamp" am-time-ago="{{item.postedOn}}"></p>
  </div>

  <div class="item item-body">
    <p>
      {{item.units}} units of {{item.bloodGroup}} Group Blood required.
    </p>
    <p>
        Location: {{item.hospital}} {{item.city}}.
    </p>
    <p>
        Urgency: {{item.urgency}}.
    </p>
    <p>
        <a ui-sref='userProfile.postDetails({uid: item.uid, postUid: id})'>see more details</a>
    </p>
    <p>
      <a href="#" class="subdued"><span ng-if="item.volunteers">{{item.volunteers}} Volunteer<span ng-if="item.volunteers > 1">s</span></span>
            <span ng-if="!item.volunteers">No Volunteers Yet!</span>
            </a>
            <a href="#" class="subdued"><span ng-if="item.commentCount">{{item.commentCount}} Comment<span ng-if="item.commentCount > 1">s</span></span>
            <span ng-if="!item.commentCount">No Comments yet!</span>
            </a>
            </p>
            </div>

            <div class="item item-divider button-bar buttonBar">
                <button class="button icon-left button-outline button-balanced ion-person-add" ng-click="iVolunteer(item.uid, id)">Volunteer</button>
                <button class="button icon-left button-outline button-positive ion-chatboxes" ng-click="goToComments(item.uid, id)">Comment</button>
            </div>

            </div>



            </span>

        </ul>
    </ion-content>
</ion-view>